<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l12 s12 text-center">
					<ul class="rrssIcons">
						<li>
							<a class="btn-floating waves-effect waves-light blue darken-4 rrssElement" href="https://es-es.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>

							<a class="btn-floating waves-effect waves-light blue rrssElement" href="https://twitter.com/?lang=es"><i class="fa fa-twitter" aria-hidden="true"></i></a>

							<a class="btn-floating waves-effect waves-light brown darken-4 rrssElement" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li>

						<br/>

						<li>
							<a class="brown-text text-darkness-4 linkFooterElement" href="#!">Home</a>

							<a class="brown-text text-darkness-4 linkFooterElement" href="#!">Contact</a>

							<a class="brown-text text-darkness-4 linkFooterElement" href="#!">Location</a>
							
							<a class="brown-text text-darkness-4 linkFooterElement" href="#!">About</a>
						</li>	
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-copyright">
			<div class="container brown-text text-darkness-4">
				© 2016 Copyright Jose
				<a class="brown-text text-darkness-4 right" href="#!">Pair Programming</a>
			</div>
		</div>
	</footer>