body{
  position:absolute;
  background-color: #80B719;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-image:url(http://www.matthewlewicki.com/codefest/images/spotify-background.jpg);}
h1{
  margin:0 0 .5em 0;
  padding:0;
  color:#fff;
  font-family:helvetica;
  font-size:30px;
  font-weight:100;
  letter-spacing:1px;
  text-align:center;
	text-shadow: 0 1px 2px rgba(0,0,0,1);}
section{
  position:relative;
  width:300px;
  max-width:96%;
  margin:0 auto;
  padding-top:80px;
  background-image:url(http://www.matthewlewicki.com/codefest/images/spotify-logo-small.png);
  background-position:top center;
  background-repeat:no-repeat;
  background-size:100px;
}
form{
  padding:0;
  border-radius: 4px;
  background-color:rgba(255,255,255,.75);
  box-shadow: 0 2px 5px 0px rgba(38,38,38,0.5);}
fieldset{
  display: block;
  width:100%;
	margin:0 auto;
  padding:1em 0 1em 0;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align:center;
}

button{
  display:block;
  width: 80%;
  height:70px;
  margin:0 auto;
  padding: 17px 0;
  color: #81b71a;
  border: 1px solid #ccc;
  text-align:center;
  }
button[type="submit"]{
  display: block;
  width:100%;
  max-width:100% !important;
  height:3em;
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	background-color:#262626;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	text-align:center;
  color:#81b71a;
   border:none;
	border-radius: 0 0 4px 4px;
	transition: all 0.5s ease-out;
}
button[type="button"]:hover{
  background-color: #333;
	text-shadow:none;
}

button[type="text"]:focus,button[type="text"]:active,[type="password"]:focus,button[type="password"]:active{
  outline:0;
  border-image:none;
	box-shadow: 0 0 20px rgba(129,183,26,0.5);
}
